/* button {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    background: transparent;
    gap: .75rem;
}

button > div{
    background-color: white;
    height: 2px;
    width: 100%;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}

button:hover div:first-child{
    transform: rotate(45deg);
}
button:hover div:nth-child(2){
    opacity: 0;
}

button:hover div:last-child{
    transform: rotate(-45deg);
}  */


.section--generic {
    margin-bottom: 2rem;
}

.section--generic__player--zone .player--list {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.15rem;
}

.section--generic__player--zone .player--list.card-small {
    grid-template-columns: repeat(5, 1fr);
}

.section--generic__player--zone .player--list.card-big {
    grid-template-columns: repeat(6, minmax(100px, 1fr));
}